<%= form_with(model: expense) do |form| %>
  <%= form.hidden_field :user_id %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
        <% expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="products_edit_menu">
    <div>
      <%= form.label :title, style: "font-weight: bold" %>
      <%= form.text_field :title, class: "input_edit_product" %>
    </div>

    <div>
      <%= form.label :description, style: "font-weight: bold" %>
      <%= form.text_area :description, class: "input_edit_product" %>
    </div>

    <div>
      <%= form.label :amount, style: "font-weight: bold" %>
      <%= form.text_field :amount, class: "input_edit_product" %>
    </div>

    <div>
      <%= form.label :category, style: "font-weight: bold" %>
      <%= form.select :category, options_for_select(Expense::CATEGORIES, form.object.category), {include_blank: true}, required: true, class: "input_edit_product" %>
    </div>
  </div>

  <div class="edit_submit_button">
    <%= form.submit %>
  </div>
<% end %>
